@import 'variabili';
@import 'generic';

body {
    background-color: $coloreSfondo;
}

#signageContainer {
    padding: 3vh;
}
#spacerRighe{
    height: 2vh;
}
.riga {
    display: flex;
    justify-content: center;
    height: 47vh;
    box-sizing: border-box;
    padding: 2vh;
}
#rigaSuperiore {
    padding-bottom: 0;
    flex-direction: row-reverse;
}
#rigaInferiore {
    flex-direction: row;
}

#bannerStudio{
    flex-grow: 2;
    background: url("../img/bannerStudioBG.jpg") no-repeat fixed; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    p {
        color: white;
        margin: 0;
        //font-size: x-large;
    }
}

#loghetto {
        content: '\f0f1';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: $colorePrimario;  
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 300%;
        margin-right: 2vh; 
}

#titolo {
    display: block;
    font-size: x-large;
}

#sottotitolo {
    display: block;
    text-align: center;
    font-size: small;
}

#info{
    background-color: #fff;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vh;
    box-sizing: border-box;
    flex-direction: column;
    &::before{
        background-image: url('../img/arrow.png') no-repeat fixed;
    }
    p {
        text-align: center;
    }
    /*
    &::before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 20px 20px 0;
        border-color: transparent #fff transparent transparent;
        display: block;
        position: relative;
        left: -47vh;
        z-index: 99;
    }
    */
    #orari01{
        color: $colorePrimario;
    }
    #orari02{
        color: darken( $colorePrimario, 10% );
    }
    #orari03{
        color: darken( $colorePrimario, 30% );
    }
    .medico{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 130%;
    }
}

.colonna {
    width: 33vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh;
}

#ambulatorio01{
    background-color: $colorePrimario;
    @extend .backgroundCover;
    background-image: url("../img/studioUno.png");
}

#ambulatorio02{
    background-color: darken( $colorePrimario, 10% )
}

#ambulatorio03{
    background-color: darken( $colorePrimario, 20% )
}