@import '../../scss/variabiliGlobali';

body{
    background: $coloreSfondo;
}


#studioContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.ambulatorio {
    height: 30vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#ambulatorio01 {
    @extend .ambulatorio;
    background-color: $colorePrimario;
}

#ambulatorio02 {
    @extend .ambulatorio;
    background-color: darken($colorePrimario, 10%);
}

#ambulatorio03 {
    @extend .ambulatorio;
    background-color: darken($colorePrimario, 20%);
}