html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw; }

body {
  background-color: #353334; }

#signageContainer {
  padding: 3vh; }

#spacerRighe {
  height: 2vh; }

.riga {
  display: flex;
  justify-content: center;
  height: 47vh;
  box-sizing: border-box;
  padding: 2vh; }

#rigaSuperiore {
  padding-bottom: 0;
  flex-direction: row-reverse; }

#rigaInferiore {
  flex-direction: row; }

#bannerStudio {
  flex-grow: 2;
  background: url("../img/bannerStudioBG.jpg") no-repeat fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; }
  #bannerStudio p {
    color: white;
    margin: 0; }

#loghetto {
  content: '\f0f1';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #17a6b6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 300%;
  margin-right: 2vh; }

#titolo {
  display: block;
  font-size: x-large; }

#sottotitolo {
  display: block;
  text-align: center;
  font-size: small; }

#info {
  background-color: #fff;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vh;
  box-sizing: border-box;
  flex-direction: column; }
  #info::before {
    background-image: url("../img/arrow.png") no-repeat fixed; }
  #info p {
    text-align: center; }
  #info #orari01 {
    color: #17a6b6; }
  #info #orari02 {
    color: #117d89; }
  #info #orari03 {
    color: #062a2e; }
  #info .medico {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 130%; }

.colonna {
  width: 33vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vh; }

#ambulatorio01 {
  background-color: #17a6b6;
  background-image: url("../img/studioUno.png"); }

#ambulatorio02 {
  background-color: #117d89; }

#ambulatorio03 {
  background-color: #0c535b; }

.numeroServito {
  color: white;
  font-size: 250%;
  font-weight: bold; }
